@import "elements.less";

@linksColor: #39E;
@linksHoverColor: #06D;

body {
  //font-family: 'Droid Serif', serif;
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Droid Serif', serif;
  //font-family: 'Libre Baskerville', serif;
  line-height: 1.5em;
  padding:0;
  margin:0;
}

a {
  color:@linksColor;
  &:hover {
    color:#linksHoverColor;
  }
}

ul {
  &.navList {
    list-style: none;
    margin:0;
    padding:100px 0 0.5em 0;
    text-align: center;
    background-color: #39E;
    li {
      display: inline-block;
      margin:0;
      padding:0;
      text-align: left;
      &.active {
        a {
          color: #FFF;
        }
      }
      a {
        display:block;
        padding:0.5em;
        font-family: 'Droid Serif', serif;
        text-decoration: none;
        color:rgba(255,255,255,0.5);
      }
    }
  }
  &.postList {
    list-style: none;
    margin:0px;
    padding:0px;
    li {
      padding:1.5em 0 2.5em 0;
      border-bottom: 1px solid #DDD;
      &.even {
        //background-color: #EEF;
      }
      &.odd {
        
      }
    }
  }
}

.post {
  text-align: center;
  h1 {
    margin:0.3em 0;
    font-size: 1.6em;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
    padding:0px 20px;
    a {
      text-decoration: none;
      &:hover {
  
      }
    }
  }
  .postContent {
    text-align: left;
    width:90%;
    max-width:800px;
    margin:0 auto 4em auto;
    padding:0px 20px;
    font-size: 1.1em;
  }
  .date {
    color:#333;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    margin:0.5em 0 2em 0;
  }
  .topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin:0 0 2em 0;
    text-transform: uppercase;
    a {
      text-decoration:none;
        border-bottom:2px solid #DDD;
      color:#666;
      &:hover {
        color:#333;
      }
    }
  }
}


blockquote {
  border-left: 3px solid #999;
  margin-left: 1.5em;
  padding-left:1em;
}

#mastHead {
  background-color:#EEE;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.9em;
  color:#666;
  padding:10px 1em;
  text-align: center;
  input {
    font-size: 0.7em;
    padding:5px;
  }
}

.options {
  a.toggle {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding:0 15px;
    text-decoration: none;
    border:1px solid #DDD;
    height:30px;
    font-size: 0.9em;
    line-height: 30px;
    color:@linksColor;
    .rounded(@radius: 15px);
    &:hover {
      background-color: @linksColor;
      color:#FFF;
      border-color: @linksColor;
    }
  }
  p.permanent {
    font-size: 1em;
    color:#AAA;
    font-style: italic;
    a {
        text-decoration: none;
      }
  }
  
}