@import "elements.less";
@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";

@topBar: #F80;
@linksColor: #39E;
@linksHoverColor: #06D;

body {
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Droid Serif', serif;
  //font-family: 'Libre Baskerville', serif;
  line-height: 1.5em;
  padding:0;
  margin:0;
  background:#EEE url('../img/patterns/shattered.png') repeat right top;
  background-attachment:fixed;
}

a {
  color:@linksColor;
  &:hover {
    color:#linksHoverColor;
  }
}

#brandHeader {
  background-color:@topBar;
  .appName {
    height:200px;
    line-height: 100px;
    display: block;
    width:100%;
    font-size: 180px;
    text-indent: -70px;
    font-family: 'Libre Baskerville', serif;
    color:rgba(0,0,0,0.7);
  }
}

ul {
  &.postList {
    margin:0;
    > li {
      margin-bottom: 0px;
      .post {
        margin:0 10px;
      }
      &.even {
      }
      &.odd {
        .post {
          background-color: rgba(255,255,255,0.8);
        }
      }
    }
  }
}

.pageContent {
  margin:40px 0;
}


.sheet {
  display: block;
  padding:1em;
  margin:0 10px;
  .box-shadow(0px 0px 2px rgba(0,0,0,0.3));
  .rounded(@radius: 3px);
  background-color: #FFF;
  &.light {
    background-color: rgba(255,255,255,0.6);
  }
}


.post {
  display: block;
  text-align: center;
  padding:1em;
  margin:0 10px 40px 0px;
  .box-shadow(0px 0px 2px rgba(0,0,0,0.3));
  .rounded(@radius: 3px);
  background-color: #FFF;
  h1 {
    margin:0.3em 0;
    font-size: 1.6em;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
    padding:0px 20px;
    a {
      text-decoration: none;
      &:hover {
  
      }
    }
  }
  .postContent {
    text-align: left;
    padding:0px 20px;
    margin-bottom:2em;
    font-family: 'Droid Serif', serif;
  }
  .date {
    color:#333;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    margin:0.5em 0 2em 0;
  }
  .topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin:0 0 3em 0;
    text-transform: uppercase;
    a {
      text-decoration:none;
      border-bottom:2px solid #DDD;
      color:#666;
      &:hover {
        color:#333;
      }
    }
  }
}


#sideNav {
  padding:0 10px;
  &.affix {
    top:80px;
  } 
}

#topics {
  margin: 0 0 20px 0;
  //border-bottom:1px solid #DDD;
  li {
    //border-top: 1px solid #DDD;
    a {
      display: block;
      padding:5px 10px;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      .rounded(@radius: 3px);
      span {
        float:right;
        font-weight:normal;
        font-family: 'Lato', sans-serif;
        color:#AAA;
        font-size: 0.8em;
      }
      &:hover {
        background-color: rgba(255,255,255,0.5);
        color:@linksColor;
      }
    }
    &.active {
      a {
        color:#FFF !important;
        background-color: rgba(0,0,0,0.5);
        span {
          color:#EEE;
        }     
      }
    }
  }
}


#topBar {
  background-color:@topBar;
  color:#666;
  width:100%;
  margin-top: -40px;
  text-align: left;
  &.affix {
    top:0px;
    margin-top: 0px;
    .box-shadow(0px 1px 1px rgba(0,0,0,0.5));
  }
  ul {
    margin:0 auto;
    padding:0 10px;
    li {
      display: inline-block;
      margin-right: 15px;
      line-height:40px;
      font-size: 1.1em;
      font-family: 'Montserrat', sans-serif;
      color:rgba(255,255,200,1);
      a {
        display: block;
        color:rgba(255,255,255,0.5);
        &:hover {
          color:rgba(255,255,255,0.8);
          text-decoration: none;
        }
      }
      &.active {
        a {
          color:rgba(255,255,255,1);
        }
      }
    }
  }
}

#mastHead {
  padding:0.5em 0;
  font-family: 'Lato', sans-serif;
  color:#999;
  text-align: center;
  display: none;
}

ul.options {
  margin: 3em 0 1em 0;
  li {
    display: inline;
    padding: 0 10px;
  }
  a.toggle {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding:0 15px;
    text-decoration: none;
    border:1px solid #DDD;
    height:30px;
    font-size: 0.9em;
    line-height: 30px;
    color:@linksColor;
    background-color: #FFF;
    .rounded(@radius: 15px);
    &:hover {
      background-color: @linksColor;
      color:#FFF;
      border-color: @linksColor;
    }
  }
  li.permanent {
    font-size: 1em;
    color:#AAA;
    font-style: italic;
    a {
        text-decoration: none;
      }
  }
  
}