<div class="container">
  <div class="row">

    <div class="span8">

      <markdown>

##About



      </markdown> 

    </div>


    <div class="span4">

      <markdown>

##Technology          

The sources are open and available [on Github](https://github.com/kohlhofer/blog).

The Markdown implementation was originally created for [Markdown → HTML](http://simplydo.com/markDown) by [Simply Do](http://simplydo.com) and uses [showdown.js](https://github.com/coreyti/showdown) to convert [Markdown](http://daringfireball.net/projects/markdown/) to HTML. 

Built with [Angular JS](http://angularjs.org/).

      </markdown> 

    </div>
  </div>
</div>