<div class="container">
  <div class="row">

    <div class="span2">
      
      <img src="img/profile_photo_kohlhofer.jpg" class="img-polaroid" />

    </div>
    

    <div class="span7">


      <markdown class="sheet large">



My name is Alexander Kohlhofer. I live and work in the US. I am originally from Germany but have lived in many places since. I am a husband, father and Atheist. You can learn more about what I do at [kohlhofer.com](http://kohlhofer.com). This is my blog.


----

The sources are open and available [on Github](https://github.com/kohlhofer/blog).

The Markdown implementation was originally created for [Markdown → HTML](http://simplydo.com/markDown) by [Simply Do](http://simplydo.com) and uses [showdown.js](https://github.com/coreyti/showdown) to convert [Markdown](http://daringfireball.net/projects/markdown/) to HTML. 

* Built with [Angular JS](http://angularjs.org/)
* Subtle Background Patterns by [Subtle Patterns](http://subtlepatterns.com/)

      </markdown> 

    </div>



  </div>
</div>