<div class="container">
  <div class="row">

    <div class="span6">

      <div class="sheet">

        <dl class="dl-horizontal">
          <dt>Email</dt>
          <dd>alexander [at] kohlhofer.com</dd>
          <dt>Google+</dt>
          <dd><a href="https://plus.google.com/110037714935104342963">Profile</a></dd>
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/kohlhofer">@kohlhofer</a></dd>
          <dt>Linked In</dt>
          <dd><a href="www.linkedin.com/in/kohlhofer/">Profile</a></dd>
          <dt>Facebook</dt>
          <dd><a href="https://www.facebook.com/a.kohlhofer">a.kohlhofer</a></dd>
        </dl>

      </div>

    </div>
  </div>
</div>