

<ul class="navList">
  <li ng-class="{active: !currentTopic}">
    <a ng-click="selectTopic('');">All</a>
  </li>
  <li ng-repeat="(id,topic) in topics" ng-class="{active: id == currentTopic}">
    <a ng-click="selectTopic(id);">{{topic.label}}</a>
  </li>
</ul>

<div id="mastHead">
  {{postCount(currentTopic)}} Posts<span ng-show="currentTopic"> in {{topics[currentTopic].label}}</span>.
  <input typw="text" id="searchField" ng-model="searchString" placeholder="Search..." />
</div>

<ul class="postList">
  <li ng-repeat="post in posts | filter:{topic:currentTopic,$:searchString} | orderBy:'timestamp':'true'" ng-class-odd="'odd'" ng-class-even="'even'">
    <ng-include src="'postTemplate'"></ng-include>  
  </li>
</ul>