<div class="container">
  <div class="row">

     <div class="span3">

      
      <div id="sideNav">
        <ul id="topics" class="unstyled">
            <li ng-class="{active: !currentTopic}">
              <a ng-click="selectTopic('');">All</a>
            </li>
            <li ng-repeat="(id,topic) in topics" ng-class="{active: id == currentTopic}">
              <a ng-click="selectTopic(id);">{{topic.label}}</a>
            </li>
          </ul>

          <div id="search" class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span>
            <input type="text" id="inputIcon" ng-model="searchString" class="span2" placeholder="Search..." />
          </div>
        </div>


    </div>

    <div class="span9">

      <div id="mastHead">
         <span ng-show="currentTopic">Current Topic: {{topics[currentTopic].label}}, </span>Posts: {{postCount(currentTopic)}}
      </div>
      

      <ul class="postList unstyled">
        <li ng-repeat="post in posts | filter:{topic:currentTopic,$:searchString} | orderBy:'timestamp':'true'" ng-class-odd="'odd'" ng-class-even="'even'" ng-hide="post.draft">
          <ng-include src="'postTemplate'"></ng-include>  
        </li>
      </ul>

    </div>

   

  </div>
</div>