<!doctype html>
<html ng-app="blogApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="css/standard.less" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Montserrat:400,700|Libre+Baskerville:400,700|Lato:300' rel='stylesheet' type='text/css'>

    
  </head>
  <body>

    <div ng-view></div>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/libs/less.js" type="text/javascript"></script>
    <script src="js/libs/showdown.js"></script>

    <script type='text/ng-template' id="postTemplate">
      <div class="post">
        <p class="topic"><a ng-click="selectTopic(post.topic);">{{topics[post.topic].label}}</a></p>
        <h1>{{post.title}}</h1>
        <p class="date">
          {{post.timestamp | date:'fullDate'}}
        </p>
        
        <div ng-bind-html-unsafe="post.postContent" class="postContent" ng-show="post.postContent"></div>
        <div class="options">
          <p ng-show="post.postContent && !permalink" class="permanent">
            Permanent URL for this post: <a href="/#/post/{{post.id}}">http://{{host}}/#/post/{{post.id}}</a>
          </p>
          <p>
            <a ng-click="loadPostContent(post.id)" ng-show="!post.postContent && !permalink" class="toggle">Read</a>
            <a ng-click="post.postContent = false;" ng-show="post.postContent && !permalink" class="toggle">Close</a>
          </p>
        </div>
      </div>
    </script> 

  </body>
</html>